

<h1>Instagram On Backbone</h1>
<!--<form id="TagSearch">-->
  <!--<input type="text" placeholder="Search for Tag" />-->
  <!--<button>Search</button>-->
<!--</form>-->
<a id="Refresh" href="javascript:void(0);">Refresh</a>
<ul id="PostsList">
  <li class="muted">Loading Images...</li>
</ul>

